<h3 class="text-center my-3">Alta administrador</h3>
<div class="container border p-4">    
    <form>
        <div class="form-group">
            <label for="txtNombre">Nombre</label>
            <input type="text" [(ngModel)]="usuario.nombre" name="name" id="txtNombre" class="form-control">
        </div>
        <div class="form-group">
            <label for="txtApellido">Apellido</label>
            <input type="text" [(ngModel)]="usuario.apellido" name="apell" id="txtApellido" class="form-control">
        </div>
        <div class="form-group">
            <label for="txtCorreo">Correo</label>
            <input type="text" [(ngModel)]="usuario.correo" name="mail" id="txtCorreo" class="form-control">
        </div>
        <div class="form-group">
            <label for="txtClave">Contraseña</label>
            <input type="password" [(ngModel)]="usuario.clave" name="pass" id="txtClave" class="form-control">
        </div>
    
        <div class="text-center mb-3">
            <button (click)="Agregar()" class="btn btn-success">Agregar</button>
        </div>
    </form>
    <p [ngClass]="claseMsje">{{ mensajeMostrar }}</p>
</div>