<div class="text-center">
    <h2>Detalles del turno</h2>    
    <div *ngIf="turno; else noEligio">
        <ul>
            <li>Fecha: {{turno.fechaMostrar}}</li>
            <li>Paciente: {{turno.nombre_paciente}} {{turno.apellido_paciente}}</li>
            <li>Profesional: {{turno.nombre_profesional}} {{turno.apellido_profesional}}</li>
            <li>Estado: {{turno.estado}}</li>
            <li>Especialidad: {{turno.especialidad}}</li>
        </ul>
        <div *ngIf="puedeAtender" class="my-2">
            <button (click)="Atender()" class="btn btn-success">Atender</button>
        </div>
        <div *ngIf="puedeCancelar">
            <button (click)="CancelarTurno()" class="btn btn-danger">Cancelar turno</button>
        </div>
        <div *ngIf="pedidoProfesionalPendiente" class="row justify-content-around">
            <button (click)="ConfirmarTurno()" class="btn btn-success">Confirmar</button>
            <button (click)="RechazarTurno()" class="btn btn-danger">Rechazar</button>
        </div>
        <div *ngIf="puedeCargarResenia">
            <button (click)="CargarReseniaActual()" data-toggle="modal" data-target="#exampleModal" class="btn btn-success mx-1">Cargar reseña</button>
            <button (click)="VerEncuesta()" class="btn btn-info mx-1" data-toggle="modal" data-target="#encuesta">Ver Encuesta</button>
            <!-- <p *ngIf="mostrarMje" [ngClass]="claseMje">{{mensaje}}</p> -->
        </div>
        <div *ngIf="puedeCargarEncuesta">
            <button (click)="VerResenia()" data-toggle="modal" data-target="#exampleModal" class="btn btn-info mx-1">Ver Reseña</button>
            <button (click)="CargarEncuestaActual()" data-toggle="modal" data-target="#encuesta" class="btn btn-success mx-1">Cargar Encuesta</button>            
        </div>
        <div *ngIf="esAdmin && turno.estado=='atendido'">
          <button (click)="VerEncuesta()" class="btn btn-info mx-1" data-toggle="modal" data-target="#encuesta">Ver Encuesta</button>
          <button (click)="VerResenia()" data-toggle="modal" data-target="#exampleModal" class="btn btn-secondary mx-1">Ver Reseña</button>
        </div>
    </div>    
    <ng-template #noEligio>
        <p>No selecciono ningun turno</p>
    </ng-template>
    
</div>

<!--     MODAL RESENIA        -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Reseña</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">            
          <div class="form-group">
            <label for="">Edad</label>
            <input type="text" name="ed" [(ngModel)]="edad" id="idEdad" class="form-control">
          </div>
          <div class="form-group">
            <label for="">Temperatura</label>
            <input type="text" name="temp" [(ngModel)]="temperatura" id="idTemperatura" class="form-control">
          </div>
          <div class="form-group">
            <label for="">Presion</label>
            <input type="text" name="pres" [(ngModel)]="presion" id="idPresion" class="form-control">
          </div>

          <div class="form-group" [hidden]="!campoUno" >
            <input type="text" id="idAgUno" placeholder="Ingrese nombre del campo..." [(ngModel)]="agregadoUno" class="form-control">
            <input type="text" name="nc" id="idCampoUno" [(ngModel)]="txtAgregadoUno" class="form-control my-2">
          </div>
          <div class="form-group" [hidden]="!campoDos">
            <input type="text" id="idAgDos" placeholder="Ingrese nombre del campo..." [(ngModel)]="agregadoDos" class="form-control">
            <input type="text" name="nc" id="idCampoDos" [(ngModel)]="txtAgregadoDos" class="form-control my-2">
          </div>
          <div class="form-group" [hidden]="!campoTres">
            <input type="text" id="idAgTres" placeholder="Ingrese nombre del campo..." [(ngModel)]="agregadoTres" class="form-control">
            <input type="text" name="nc" id="idCampoTres" [(ngModel)]="txtAgregadoTres" class="form-control my-2">
          </div>
          <div *ngIf="mostrarMje">
            <p [ngClass]="claseMje" class="text-center">{{mensaje}}</p>
        </div>
        </div>
        <div class="modal-footer" *ngIf="puedeCargarResenia">
          <button (click)="AgregarCampo()" class="btn btn-info">Agregar nuevo campo</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
          <button type="button" (click)="GuardarResenia()" class="btn btn-primary">Guardar</button>
        </div>
      </div>
    </div>
  </div>

  <!--       MODAL ENCUESTA        -->

  <div class="modal fade" id="encuesta" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Encuesta</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <label for="">Calificacion lugar</label>
                <input type="range" name="rng" id="range" value="50" [(ngModel)]="lugar" class="form-control"> 
            </div>
            <div class="form-group">
                <label for="slctAt">Atencion del 1 al 5</label>
                <select name="slct" [(ngModel)]="atencion" id="slctAt" class="form-control">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
            </div>
            <div class="form-group">
                <label for="">¿Recomienda al doctor?</label>
                <div class="form-check">                                        
                    <input type="radio" name="rdios" value="true" id="rdioUno" [(ngModel)]="recomienda">                                
                    <label for="" class="mx-2">SI</label>
                </div>
                <div class="form-check">                    
                    <input type="radio" name="rdios" value="false" id="rdioDos" [(ngModel)]="recomienda">                    
                    <label for="" class="mx-2">NO</label>
                </div>
                <div *ngIf="mostrarMje">
                    <p [ngClass]="claseMje" class="text-center">{{mensaje}}</p>
                </div>
            </div>
        </div>
        <div class="modal-footer" *ngIf="puedeCargarEncuesta">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
          <button type="button" (click)="GuardarEncuesta()" class="btn btn-primary">Guardar</button>
        </div>
      </div>
    </div>
  </div>