<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand">Menu</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto ulNav">
        <li class="nav-item">
          <a class="nav-link" (click)="Logueos()">Ingresos al sistema</a>
        </li>
        <li class="nav-item">
          <a (click)="PorEspecialidad()" class="nav-link">Operaciones por especialidad</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="PorDiaSemana()">Turnos por dia de semana</a>
        </li>
        <li class="nav-item">
            <a (click)="PorLapsoTiempo()" class="nav-link">Turnos por fechas</a>
        </li>
        
        <li class="nav-item">
          <a (click)="Volver()" class="nav-link">Volver</a>
      </li>
      </ul>
    </div>
</nav>
<div class="my-1">
  <router-outlet></router-outlet>
</div>