<table class="table text-center table-hover">
    <thead class="table-secondary">
        <th>Fecha</th>
        <th>Paciente</th>
        <th>Profesional</th>
        <th>Estado</th>
    </thead>
    <tbody>
        <tr *ngFor="let item of turnos" (click)="SeleccionarTurno(item)">
            <td>{{item.horario}}</td>            
            <td>{{item.nombre_paciente}} {{item.apellido_paciente}}</td>
            <td>{{item.nombre_profesional}} {{item.apellido_profesional}}</td>
            <td class="text-muted">{{item.estado.toUpperCase()}}</td>            
        </tr>
    </tbody>
</table>