<nav class="navbar navbar-expand-lg navbar-dark bg-success">
    <a class="navbar-brand">Menu</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto ulNav">
        <li class="nav-item">
          <a class="nav-link" (click)="ProfesionalesAprobados()">Profesionales</a>
        </li>
        <li class="nav-item">
          <a (click)="ProfesionalesPendientes()" class="nav-link">Habilitar profesionales</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="AgregarEspecialidad()">Agregar especialidad</a>
        </li>
        <li class="nav-item">
            <a (click)="AgregarAdmin()" class="nav-link">Agregar administrador</a>
        </li>
        <li class="nav-item">
          <a (click)="IrAInformes()" class="nav-link">Informes</a>
        </li>
        <li class="nav-item">
          <a (click)="VerTurnos()" class="nav-link">Turnos</a>
        </li>
        <li class="nav-item">
          <a (click)="Salir()" class="nav-link">Salir</a>
      </li>
      </ul>
    </div>
</nav>