<div class="container-fluid row mt-4">    
    <div class="col-lg-8">
        <app-turnos-listado [turnos]="listadoTurnos" (eventoSeleccionarTurno) = "ElegirTurno($event)"></app-turnos-listado>
    </div>
    <div class="col">
        <app-turno-detalle [turno] = "turnoElegido" [puedeAtender]="puedeAtender" 
        [puedeCancelar]="puedeCancelar"
        [puedeCargarResenia] = "puedeCargarResenia"
        (eventoCargarResenia)="CargarFormResenia()"
        (eventoCargarEncuesta)="VerEncuesta($event)"></app-turno-detalle>
    </div>
</div>