<div class="container my-2  p-4">

    <div class="mb-1">
        <label *ngIf="especialidadElegida; else noEmpezo" class="lead text-secondary">
            {{especialidadElegida}}
            <h3 class="text-secondary d-inline">/</h3>
        </label>
        <ng-template #noEmpezo>
            <div class="text-center">
                <h3 class="text-secondary d-inline">Elija especialidad para comenzar...</h3>
            </div>
        </ng-template>
        
        <label *ngIf="profesionalSeleccionado" class="lead text-secondary">
             {{profesionalSeleccionado.nombre}} {{profesionalSeleccionado.apellido}} 
             <h3 class="text-secondary d-inline">/</h3>
        </label>
        <label *ngIf="fechaElegida" class="lead text-secondary">
             {{fechaElegida}} 
             <h3 class="text-secondary d-inline">/</h3>
        </label>
    </div>
    <div class="form-group text-center table-wrapper-scroll-y my-custom-scrollbar" [ngClass]="claseEspecialidad">
        <table class="table table-hover">
            <thead>
                <th>Elija Especialidad</th>
            </thead>
            <tbody>
                <tr *ngFor="let item of especialidades">
                    <td (click)="BuscarProfesionales(item)"> {{item}} </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="form-group text-center d-none table-wrapper-scroll-y my-custom-scrollbar" [ngClass]="claseProfesionales">
        <table class="table table-hover">
            <thead>
                <th>Elija profesional</th>
            </thead>
            <tbody>
                <tr *ngFor="let item of listadoProfesionales">
                    <td (click)="ElegirProfesional(item)">{{item.nombre}} {{item.apellido}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="form-group text-center d-none table-wrapper-scroll-y my-custom-scrollbar" [ngClass]="claseFechas">
        <table class="table table-hover">
            <thead>
                <th>Elija Fecha</th>
            </thead>
            <tbody>
                <tr *ngFor="let item of fechasMostrar">
                    <td (click)="ElegirDia(item)">{{item}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="form-group text-center d-none table-wrapper-scroll-y my-custom-scrollbar" [ngClass]="claseHorarios">
        <table class="table table-hover">
            <thead>
                <th class="fixed">Elija Horario</th>
            </thead>
            <tbody>
                <tr *ngFor="let item of horariosMostrar">
                    <td (click)="CargarHorarioDefinitivo(item.time, item.hora)" data-toggle="modal" data-target="#modalConfirm">{{item.hora}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div>
        <div class="row justify-content-center my-3" *ngIf="seleccionoAlguno" >
            <button (click)="LimpiarElecciones()"  class="btn btn-info mx-3">Limpiar</button>
            <button (click)="VolverEleccionAnterior()"  class="btn btn-secondary mx-3">Volver</button>
        </div>
        <!-- <div class="row justify-content-center" *ngIf="puedeReservar" ><button (click)="Reservar()" class="btn btn-success mb-3">Solicitar turno</button></div> -->
        <!-- <p *ngIf="mostrarRta" [ngClass]="claseRta">{{mensajeRta}}</p> -->
    </div>
    <p *ngIf="mostrarRta" [ngClass]="claseRta" class="d-block px-3">{{mensajeRta}}</p>
    <!-- <div class="form-group">
        <label for="">Buscar por</label>
        <select name="" id="" class="form-control" [(ngModel)]="tipoBusqueda">
            <option value="especialidad">Especialidad</option>
            <option value="profesional">Profesional</option>
        </select>
    </div> -->

    <!-- <div class="form-group" *ngIf="tipoBusqueda=='especialidad'">
        <label for="selectEsp">Eliga especialidad buscada</label>
        <select name="esp" id="selectEsp" class="form-control" [(ngModel)]="especialidadElegida">
            <option *ngFor="let item of especialidades" value={{item}}>{{item}}</option>
        </select>
    </div> -->    
    <!-- <div class="form-group" *ngIf="tipoBusqueda=='profesional'">
        <label for="selectProf">Eliga apellido del profesional</label>
        <select name="prof" id="selectProf" class="form-control" [(ngModel)]="apellidoProfesional">
            <option *ngFor="let item of todosLosApellidos" value={{item}}>{{item}}</option>
        </select>
    </div> -->

    <!-- <div class="form-group">
        <button (click)="BuscarProfesionales()" class="btn btn-info mb-2">Buscar</button>
        <p *ngIf="mostrarError && !apellidoProfesional || !especialidadElegida" class="text-danger">{{mensajeMostrar}}</p>
    </div>

    <div *ngIf="listadoProfesionales" class="mb-3">        
        <app-profesionales-listado [profesionales] = "listadoProfesionales"
         (eventoElegirProfesional) = "ElegirProfesional($event)"
         *ngIf="listadoProfesionales.length>0; else noHayProf"></app-profesionales-listado>

         <div class="row justify-content-center">
            <app-profesionales-detalle class="col-4" [profesional] = "profesionalSeleccionado"></app-profesionales-detalle>
         </div>
        <ng-template #noHayProf>
            <p class="text-danger">No hay profesionales con estos datos requeridos</p>
        </ng-template>        
    </div>

    <div *ngIf="profesionalSeleccionado">
        <div class="form-group">
            <label for="">Elegir fecha</label>
            <select name="dia" id="" [(ngModel)]="fechaElegida" (change)="ElegirDia(fechaElegida)" class="form-control">
                <option *ngFor="let item of fechasMostrar" [value]="item">{{item}}</option>
            </select>
        </div>
    
        <div *ngIf="fechaElegida" class="form-group">
            <label for="">Elegir horario</label>
            <select name="hrs" id="" [(ngModel)]="horarioTimeElegido" class="form-control">
                <option *ngFor="let item of horariosMostrar" [value]="item.time">{{item.hora}}</option>
            </select>
        </div>
    </div> -->
    <!-- <div class="text-center">
        <button (click)="Reservar()" class="btn btn-success mb-3">Solicitar turno</button>
        <p *ngIf="mostrarRta" [ngClass]="claseRta">{{mensajeRta}}</p>
    </div> -->
</div>

<!-- MODAL CONFIRM TURNO -->
<div class="modal fade" *ngIf="especialidadElegida && profesionalSeleccionado && fechaElegida" id="modalConfirm" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Confirmar Turno</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">            
          <div class="form-group">
            <label class="d-block">Especialidad: {{especialidadElegida}}</label>
            <label class="d-block">Profesional: {{profesionalSeleccionado.nombre}} {{profesionalSeleccionado.apellido}}</label>
            <label class="d-block">Fecha: {{fechaElegida}}</label>
            <label class="d-block">Horario: {{horaParaMostrar}}</label>
          </div>
        </div>
        <div class="modal-footer">
          <div class="text-center">
            <button type="button" class="btn btn-danger mx-2" data-dismiss="modal">Cancelar</button>
            <button type="button"  data-dismiss="modal" (click)="Reservar()" class="btn btn-primary mx-2">Reservar</button>
          </div>
        </div>
      </div>
    </div>
  </div>