<div class="container border p-4 my-4">
    <label class="d-block text-center my-3">Elija los dias</label>
    <div class="form-check" *ngFor="let item of diasPosibles">        
        <input type="checkbox" (change)="ElegirCheck($event.target)" class="form-check-input" [value]="item" name="checkDias">
        <label class="form-check-label">{{item}}</label>
    </div>
    <div class="form-check">
        <input type="checkbox" (change)="ElegirCheck($event.target)" class="form-check-input" value="sabados" name="checkDias">
        <label class="form-check-label">sabados (de 08 a 14 hs)</label>
    </div>

    <div class="form-group my-3">
        <label for="">Elija el horario de inicio</label>
        <select name="hs" id="" [(ngModel)]="horaInicio" class="form-control">
            <option *ngFor="let item of horarios" [value]="item">{{item}}</option>
        </select>
    </div>

    <div class="form-group my-3">
        <label for="">Elija el horario de salida</label>
        <select name="hs" id="" [(ngModel)]="horaFinal" class="form-control">
            <option *ngFor="let item of horarios" [value]="item">{{item}}</option>
        </select>
    </div>

    <div class="form-group text-center">
        <button class="btn btn-primary" (click)="Guardar()">Guardar</button>
    </div>
    <p *ngIf="mostrarMje" [ngClass]="claseMje">{{mensaje}}</p>
</div>